body{
    margin: 0;
    padding: 0;
    background: #fef6f4;
    font-family: 微软雅黑;

}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.head{
    text-align: center;
    height:0.44rem;
    font-size: 0.2rem;
    color: #333;
    line-height: 0.44rem;
    background: #fff;

}
.headbody{
    height: 1rem;
    padding: 0.15rem 0 0.15rem 0.15rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 0.05rem;
    background: #fff;
}
.userDetail1{
    color: #333333;
    font-size: 0.2rem;
    font-weight: 600;
}
.userDetail2{
    color: #333333;
    font-size: 0.14rem;
}
.userDetail3{
    color: #999999;
    font-size: 0.14rem;

}
.userDetail{
    padding-left: 0.15rem;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.user img{
    display: block;
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
}
.myul a{
   background: #fff;
   margin-bottom: 1px;
   height: 0.5rem;
   padding: 0 0.25rem 0 0.15rem;
   display:-webkit-box;
   display:-ms-flexbox;
   display:flex;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}
.firstLi,.secondLi{
   display:-webkit-box;
   display:-ms-flexbox;
   display:flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}
.firstLi img{
    padding-right: 0.1rem;
    width: 0.24rem;
    height: auto;
}
.secondLi img{
    padding-left: 0.06rem;
    width: 0.1rem;
    height: 0.17rem;
}
.firstLi div{
    color: #333;
    font-size: 0.16rem;
}
.secondLi div{
   color: #333;
   font-size: 0.14rem;
}
.myul img{
    display: block;
}
.secondLi div span{
   color: #3588fe;
   padding: 0 0.04rem;
}
.foot img{
   height:0.2rem;
   width: auto;
   display: block;
   margin-bottom: 0.05rem;
}
.active{
   color: #ff6b57;
}

.foot{
   position: fixed;
   bottom: 0;
   left: 0;
   width: 100%;
   display:-webkit-box;
   display:-ms-flexbox;
   display:flex;
   -ms-flex-pack: distribute;
   justify-content: space-around;
   background: #fff;
   color: #c58f83;
   font-size: 0.12rem;
   height: 0.46rem;
}

.foot a {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.foot div {
  color: #c58f83;
}

.foot .active div {
  color: #ff4c2e;
}
.foot a .icon {
  display: block;
}

.foot a .icon-on {
  display: none;
}

.foot a.active .icon {
  display: none;
}

.foot a.active .icon-on {
  display: block;
}

