<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/app.css">
</head>

<body>
    <div class="index-bg wykz-bg"></div>
    <div class="wrap index clearfix">
        <div class="index-header">
            <div class="header-pb"></div>
            <div class="header-wy"></div>
            <div class="d1 dl"></div>
            <div class="d2 dl"></div>
            <!-- menu -->
            <div class="menu-box clearfix">
                <div class="pull-left menu">
                    <ul class="pull-left">
                        <li>
                            <a href="#">书屋</a>
                        </li>
                        <li class="active">
                            <a href="#">长篇</a>
                        </li>
                        <li class="">
                            <a href="#">短篇</a>
                        </li>
                        <li>
                            <a href="#">故事集</a>
                        </li>
                    </ul>
                    <div class="pull-left search-box">
                        <input type="text" class="search-input" placeholder="书名/作者">
                        <button class="search-btn"><svg t="1535339923867" class="icon" viewBox="0 0 1024 1024" version="1.1"
                                xmlns="http://www.w3.org/2000/svg" p-id="2042" xmlns:xlink="http://www.w3.org/1999/xlink"
                                width="19" height="19">
                                <defs>
                                    <style type="text/css"></style>
                                </defs>
                                <path d="M928 886.4l-160-160c128-150.4 120-377.6-20.8-520-150.4-150.4-393.6-150.4-542.4 0-72 72-112 169.6-112 272s40 198.4 112 272c72 72 169.6 112 272 112 91.2 0 179.2-32 248-91.2l160 160c12.8 12.8 32 12.8 44.8 0 11.2-12.8 11.2-32-1.6-44.8zM249.6 705.6c-60.8-60.8-94.4-140.8-94.4-225.6s33.6-166.4 94.4-225.6c62.4-62.4 144-92.8 225.6-92.8s163.2 30.4 225.6 92.8c124.8 124.8 124.8 328 0 452.8C640 768 560 801.6 475.2 801.6c-84.8-3.2-164.8-35.2-225.6-96z"
                                    fill="#FFFFFF" p-id="2043"></path>
                            </svg></button>
                    </div>
                    <ul class="pull-right menu-right">
                        <li class="menu-login1 login_flag">
                            <a href="javascript:void(0)" data-toggle="modal" data-target="#LoginModal">登录</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- menu -->
        </div>

        <div class="menu-fixed">
            <div href="#" class="back-top">
                <i></i>
            </div>
            <div class="menu">
                <ul>
                    <li>
                        <p>
                            <i></i>
                            联系热线
                        </p>
                        <p>152-1192-9941</p>
                    </li>
                    <li>
                        <a href="#">
                            <i></i> QQ咨询
                        </a>
                    </li>
                    <li>
                        <img src="./img/menu-code.png" alt="">
                        <p>扫码联系商务</p>
                        <p>24小时在线服务 </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="book-details wrap">
        <div class="crumbs">
            <span>当前位置：</span>
            <a href="#">三更讲故事</a>
            <span>></span>
            <a href="#">悬疑惊悚</a>
            <span>></span>
            <a href="#">鬼夫陛下太猖狂 </a>

        </div>
        <div class="book-d-w1 clearfix">
            <div class="pull-left book-p clearfix">
                <div class="img-box pull-left">
                    <img src="./img/bookf.png" width="100%" alt="">
                </div>
                <div class="desc pull-left">
                    <p class="t">
                        鬼夫陛下太猖狂 <i class="lab y">vip签约</i> <i class="lab g">授权作品</i>
                    </p>
                    <p class="j">
                        <span class="t">类别：</span>
                        <a href="#">灵异</a>&nbsp;&nbsp;&nbsp;
                        <span class="t">进度：</span>
                        <span>完结</span>&nbsp;&nbsp;&nbsp;
                        <span class="t">总字数：</span>
                        <span>1231233</span>
                    </p>
                    <p class="d">
                        她，被迫进行冥婚，却被半人半鬼之身的赢王看上？ 从此以后，她只能是他南宫夜一人的， 从此以后，她只能是他南宫夜一人的，可当从.她，被迫进行冥婚，却被半人半鬼之身的赢王看上？
                        从此以后，她只能是他南宫夜一人的， 从此以后，她只能是他南宫夜一人的，可当从.她，被迫进行冥婚，却被半人半鬼之身的赢王看上？ 从此以后，她只能是他南宫夜一人的，
                        从此以后，她只能是他南宫夜一人的，可当从.
                    </p>
                    <div class="links">
                        <a href="#">目录</a>
                        <a href="#">加入书架</a>
                        <a href="#" class="bg">开始阅读</a>
                    </div>
                </div>
            </div>
            <div class="pull-right user-p">
                <div class="user-img">
                    <img src="./img/user-img.png" alt="">
                </div>
                <p class="n">作者：大漠孤烟</p>
                <p class="t">
                    本作者还没有写个人简介哦，可以先看看他的作品哦～～
                </p>
                <div class="xinx">
                    <p>创作时间：2018-12-20</p>
                    <p>推荐指数：<img src='./img/stars.png' alt=""><img src='./img/stars.png' alt=""><img src='./img/stars.png'
                            alt=""></p>
                </div>
            </div>
        </div>
        <div class="book-d-w2 clearfix">
            <div class="pull-left pinl">
                <div class="reward">
                    <div class="title">
                        <span>打赏</span>
                    </div>
                    <ul class="reward-list clearfix">
                        <li>
                            <a href="#">
                                凝神露
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                聚气散
                            </a>
                        </li>
                        <li>
                            <a href="#">益神丹</a>
                        </li>
                        <li>
                            <a href="#">洗髓丹</a>
                        </li>
                        <li>
                            <a href="#">破厄丹</a>
                        </li>
                        <li>
                            <a href="#">投金票</a>
                        </li>
                    </ul>
                </div>
                <div class="comment-tab">
                    <ul class="nav nav-tabs clearfix">
                        <li class="active"><a href="#tab1" data-toggle="tab">最新评论</a></li>
                        <li><a href="#tab2" data-toggle="tab">精华评论</a></li>
                        <li class="pull-right">
                            <span>
                                共800条评论
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="comment-box tab-pane fade in active" id="tab1">
                        <div class="reply-box">
                            <form action="">
                                <textarea name="" id="" placeholder="我也来说两句..."></textarea>
                                <button type="submit">发表评论</button>
                            </form>
                        </div>
                        <div class="comment-list">
                            <ul>
                                <li>
                                    <div class="user-img">
                                        <img src="./img/user-img.png" alt="" width="100%">
                                    </div>
                                    <div class="main">
                                        <p class="t">黑不溜秋的傻妞</p>
                                        <p class="d" style="display:block">不知道如何充值的朋友们点这里，首先大家要登陆一个属于自己的账号，网站目前支持QQ、微博等一键登录，无需注册，直接登录
                                            <a href="#" class="open">【展开查看更多】</a>
                                        </p>
                                        <p class="d" style="display: none">不知道如何充值的朋友们点这里，首先大家要登陆一个属于自己的账号，网站目前支持QQ、微博等一键登录，无需注册，直接登录，大家点击不知道如何充值的朋友们点这里，首先大家要登陆一个属于自己的账号，网站目前支持QQ、微博等一键登录，无需注册，直接登录，大家点击
                                            <a href="#" class="clos">【收起】</a>
                                        </p>
                                    </div>
                                    <div class="links clearfix">
                                        <span>
                                            2018-10-20
                                        </span>
                                        <a class="pull-right open-comment" href="#">回复</a>
                                    </div>
                                    <div class="reply" style="display:none">
                                        <form action="">
                                            <input type="text">
                                            <button type="submit">回复</button>
                                        </form>

                                    </div>
                                </li>
                                <li>
                                    <div class="user-img">
                                        <img src="./img/user-img.png" alt="" width="100%">
                                    </div>
                                    <div class="main">
                                        <p class="t">黄渤</p>
                                        <p class="d" style="display:block">不知道如何充值的朋友们点这里，首先大家要登陆一个属于自己的账号，网站目前支持QQ、微博等一键登录，无需注册，直接登录
                                            <a href="#" class="open">【展开查看更多】</a>
                                        </p>
                                        <p class="d" style="display: none">不知道如何充值的朋友们点这里，首先大家要登陆一个属于自己的账号，网站目前支持QQ、微博等一键登录，无需注册，直接登录，大家点击不知道如何充值的朋友们点这里，首先大家要登陆一个属于自己的账号，网站目前支持QQ、微博等一键登录，无需注册，直接登录，大家点击
                                            <a href="#" class="clos">【收起】</a>
                                        </p>
                                    </div>
                                    <div class="links clearfix">
                                        <span>
                                            2018-10-20
                                        </span>
                                        <a class="pull-right open-comment" href="#">回复</a>
                                    </div>
                                    <div class="reply" style="display:none">
                                        <form action="">
                                            <input type="text">
                                            <button type="submit">回复</button>
                                        </form>

                                    </div>
                                </li>
                                <li>
                                    <div class="user-img">
                                        <img src="./img/user-img.png" alt="" width="100%">
                                    </div>
                                    <div class="main">
                                        <p class="t">周星驰</p>
                                        <p class="d" style="display:block">不知道如何充值的朋友们点这里，首先大家要登陆一个属于自己的账号，网站目前支持QQ、微博等一键登录，无需注册，直接登录
                                            <a href="#" class="open">【展开查看更多】</a>
                                        </p>
                                        <p class="d" style="display: none">不知道如何充值的朋友们点这里，首先大家要登陆一个属于自己的账号，网站目前支持QQ、微博等一键登录，无需注册，直接登录，大家点击不知道如何充值的朋友们点这里，首先大家要登陆一个属于自己的账号，网站目前支持QQ、微博等一键登录，无需注册，直接登录，大家点击
                                            <a href="#" class="clos">【收起】</a>
                                        </p>
                                    </div>
                                    <div class="links clearfix">
                                        <span>
                                            2018-10-20
                                        </span>
                                        <a class="pull-right open-comment" href="#">回复</a>
                                    </div>
                                    <div class="reply" style="display:none">
                                        <form action="">
                                            <input type="text">
                                            <button type="submit">回复</button>
                                        </form>
                                    </div>
                                </li>
                                <li>
                                    <div class="user-img">
                                        <img src="./img/user-img.png" alt="" width="100%">
                                    </div>
                                    <div class="main">
                                        <p class="t">吴彦祖</p>
                                        <p class="d" style="display:block">不知道如何充值的朋友们点这里，首先大家要登陆一个属于自己的账号，网站目前支持QQ、微博等一键登录，无需注册，直接登录
                                            <a href="#" class="open">【展开查看更多】</a>
                                        </p>
                                        <p class="d" style="display: none">不知道如何充值的朋友们点这里，首先大家要登陆一个属于自己的账号，网站目前支持QQ、微博等一键登录，无需注册，直接登录，大家点击不知道如何充值的朋友们点这里，首先大家要登陆一个属于自己的账号，网站目前支持QQ、微博等一键登录，无需注册，直接登录，大家点击
                                            <a href="#" class="clos">【收起】</a>
                                        </p>
                                    </div>
                                    <div class="links clearfix">
                                        <span>
                                            2018-10-20
                                        </span>
                                        <a class="pull-right open-comment" href="#">回复</a>
                                    </div>
                                    <div class="reply" style="display:none">
                                        <form action="">
                                            <input type="text">
                                            <button type="submit">回复</button>
                                        </form>
                                    </div>
                                </li>
                                <li>
                                    <div class="user-img">
                                        <img src="./img/user-img.png" alt="" width="100%">
                                    </div>
                                    <div class="main">
                                        <p class="t">刘德华</p>
                                        <p class="d" style="display:block">不知道如何充值的朋友们点这里，首先大家要登陆一个属于自己的账号，网站目前支持QQ、微博等一键登录，无需注册，直接登录
                                            <a href="#" class="open">【展开查看更多】</a>
                                        </p>
                                        <p class="d" style="display: none">不知道如何充值的朋友们点这里，首先大家要登陆一个属于自己的账号，网站目前支持QQ、微博等一键登录，无需注册，直接登录，大家点击不知道如何充值的朋友们点这里，首先大家要登陆一个属于自己的账号，网站目前支持QQ、微博等一键登录，无需注册，直接登录，大家点击
                                            <a href="#" class="clos">【收起】</a>
                                        </p>
                                    </div>
                                    <div class="links clearfix">
                                        <span>
                                            2018-10-20
                                        </span>
                                        <a class="pull-right open-comment" href="#">回复</a>
                                    </div>
                                    <div class="reply" style="display:none">
                                        <form action="">
                                            <input type="text">
                                            <button type="submit">回复</button>
                                        </form>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <p style="text-align:center;">
                            <a href="#" class="more">查看更多评论</a>
                        </p>
                    </div>
                    <div class="comment-box tab-pane fade " id="tab2">
                        <div class="reply-box">
                            <form action="">
                                <textarea name="" id="" placeholder="我也来说两句..."></textarea>
                                <button type="submit">发表评论</button>
                            </form>
                        </div>
                        <div class="comment-list">
                            <ul>
                                <li>
                                    <div class="user-img">
                                        <img src="./img/user-img.png" alt="" width="100%">
                                    </div>
                                    <div class="main">
                                        <p class="t">黑不溜秋的傻妞</p>
                                        <p class="d" style="display:block">不知道如何充值的朋友们点这里，首先大家要登陆一个属于自己的账号，网站目前支持QQ、微博等一键登录，无需注册，直接登录
                                            <a href="#" class="open">【展开查看更多】</a>
                                        </p>
                                        <p class="d" style="display: none">不知道如何充值的朋友们点这里，首先大家要登陆一个属于自己的账号，网站目前支持QQ、微博等一键登录，无需注册，直接登录，大家点击不知道如何充值的朋友们点这里，首先大家要登陆一个属于自己的账号，网站目前支持QQ、微博等一键登录，无需注册，直接登录，大家点击
                                            <a href="#" class="clos">【收起】</a>
                                        </p>
                                    </div>
                                    <div class="links clearfix">
                                        <span>
                                            2018-10-20
                                        </span>
                                        <a class="pull-right open-comment" href="#">回复</a>
                                    </div>
                                    <div class="reply" style="display:none">
                                        <form action="">
                                            <input type="text">
                                            <button type="submit">回复</button>
                                        </form>

                                    </div>
                                </li>
                                <li>
                                    <div class="user-img">
                                        <img src="./img/user-img.png" alt="" width="100%">
                                    </div>
                                    <div class="main">
                                        <p class="t">黄渤</p>
                                        <p class="d" style="display:block">不知道如何充值的朋友们点这里，首先大家要登陆一个属于自己的账号，网站目前支持QQ、微博等一键登录，无需注册，直接登录
                                            <a href="#" class="open">【展开查看更多】</a>
                                        </p>
                                        <p class="d" style="display: none">不知道如何充值的朋友们点这里，首先大家要登陆一个属于自己的账号，网站目前支持QQ、微博等一键登录，无需注册，直接登录，大家点击不知道如何充值的朋友们点这里，首先大家要登陆一个属于自己的账号，网站目前支持QQ、微博等一键登录，无需注册，直接登录，大家点击
                                            <a href="#" class="clos">【收起】</a>
                                        </p>
                                    </div>
                                    <div class="links clearfix">
                                        <span>
                                            2018-10-20
                                        </span>
                                        <a class="pull-right open-comment" href="#">回复</a>
                                    </div>
                                    <div class="reply" style="display:none">
                                        <form action="">
                                            <input type="text">
                                            <button type="submit">回复</button>
                                        </form>

                                    </div>
                                </li>
                                <li>
                                    <div class="user-img">
                                        <img src="./img/user-img.png" alt="" width="100%">
                                    </div>
                                    <div class="main">
                                        <p class="t">周星驰</p>
                                        <p class="d" style="display:block">不知道如何充值的朋友们点这里，首先大家要登陆一个属于自己的账号，网站目前支持QQ、微博等一键登录，无需注册，直接登录
                                            <a href="#" class="open">【展开查看更多】</a>
                                        </p>
                                        <p class="d" style="display: none">不知道如何充值的朋友们点这里，首先大家要登陆一个属于自己的账号，网站目前支持QQ、微博等一键登录，无需注册，直接登录，大家点击不知道如何充值的朋友们点这里，首先大家要登陆一个属于自己的账号，网站目前支持QQ、微博等一键登录，无需注册，直接登录，大家点击
                                            <a href="#" class="clos">【收起】</a>
                                        </p>
                                    </div>
                                    <div class="links clearfix">
                                        <span>
                                            2018-10-20
                                        </span>
                                        <a class="pull-right open-comment" href="#">回复</a>
                                    </div>
                                    <div class="reply" style="display:none">
                                        <form action="">
                                            <input type="text">
                                            <button type="submit">回复</button>
                                        </form>
                                    </div>
                                </li>
                                <li>
                                    <div class="user-img">
                                        <img src="./img/user-img.png" alt="" width="100%">
                                    </div>
                                    <div class="main">
                                        <p class="t">吴彦祖</p>
                                        <p class="d" style="display:block">不知道如何充值的朋友们点这里，首先大家要登陆一个属于自己的账号，网站目前支持QQ、微博等一键登录，无需注册，直接登录
                                            <a href="#" class="open">【展开查看更多】</a>
                                        </p>
                                        <p class="d" style="display: none">不知道如何充值的朋友们点这里，首先大家要登陆一个属于自己的账号，网站目前支持QQ、微博等一键登录，无需注册，直接登录，大家点击不知道如何充值的朋友们点这里，首先大家要登陆一个属于自己的账号，网站目前支持QQ、微博等一键登录，无需注册，直接登录，大家点击
                                            <a href="#" class="clos">【收起】</a>
                                        </p>
                                    </div>
                                    <div class="links clearfix">
                                        <span>
                                            2018-10-20
                                        </span>
                                        <a class="pull-right open-comment" href="#">回复</a>
                                    </div>
                                    <div class="reply" style="display:none">
                                        <form action="">
                                            <input type="text">
                                            <button type="submit">回复</button>
                                        </form>
                                    </div>
                                </li>
                                <li>
                                    <div class="user-img">
                                        <img src="./img/user-img.png" alt="" width="100%">
                                    </div>
                                    <div class="main">
                                        <p class="t">刘德华</p>
                                        <p class="d" style="display:block">不知道如何充值的朋友们点这里，首先大家要登陆一个属于自己的账号，网站目前支持QQ、微博等一键登录，无需注册，直接登录
                                            <a href="#" class="open">【展开查看更多】</a>
                                        </p>
                                        <p class="d" style="display: none">不知道如何充值的朋友们点这里，首先大家要登陆一个属于自己的账号，网站目前支持QQ、微博等一键登录，无需注册，直接登录，大家点击不知道如何充值的朋友们点这里，首先大家要登陆一个属于自己的账号，网站目前支持QQ、微博等一键登录，无需注册，直接登录，大家点击
                                            <a href="#" class="clos">【收起】</a>
                                        </p>
                                    </div>
                                    <div class="links clearfix">
                                        <span>
                                            2018-10-20
                                        </span>
                                        <a class="pull-right open-comment" href="#">回复</a>
                                    </div>
                                    <div class="reply" style="display:none">
                                        <form action="">
                                            <input type="text">
                                            <button type="submit">回复</button>
                                        </form>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <p style="text-align:center;">
                            <a href="#" class="more">查看更多评论</a>
                        </p>
                    </div>
                </div>

            </div>
            <div class="pull-right fujia">
                <div class="qita">
                    <p class="title">
                        其他作品
                    </p>
                    <div class="item clearfix">
                        <div class="img-box pull-left">
                            <img src="./img/bookf.png" alt="">
                        </div>
                        <div class="pull-right">
                            <p class="t">渡灵人</p>
                            <p class="n">梅林山人</p>
                            <p class="z">连载中</p>
                        </div>
                    </div>
                    <div class="item clearfix">
                        <div class="img-box pull-left">
                            <img src="./img/bookf.png" alt="">
                        </div>
                        <div class="pull-right">
                            <p class="t">渡灵人</p>
                            <p class="n">梅林山人</p>
                            <p class="z">连载中</p>
                        </div>
                    </div>
                    <div class="item clearfix">
                        <div class="img-box pull-left">
                            <img src="./img/bookf.png" alt="">
                        </div>
                        <div class="pull-right">
                            <p class="t">渡灵人</p>
                            <p class="n">梅林山人</p>
                            <p class="z">连载中</p>
                        </div>
                    </div>
                    <div class="item clearfix">
                        <div class="img-box pull-left">
                            <img src="./img/bookf.png" alt="">
                        </div>
                        <div class="pull-right">
                            <p class="t">渡灵人</p>
                            <p class="n">梅林山人</p>
                            <p class="z">连载中</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
        <p>© 2018 午夜客栈wuyekezhan.com 杭州全集文化传播有限公司版权所有 浙ICP备18032227号</p>
    </div>
    <div class="modal fade" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <!-- <h4 class="modal-title" id="myModalLabel">Modal title</h4> -->
                </div>
                <div class="modal-body">
                    <div class="tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#login" aria-controls="home" role="tab"
                                    data-toggle="tab">登录</a></li>
                            <li role="presentation"><a href="#register" aria-controls="profile" role="tab" data-toggle="tab">注册</a></li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="login">
                            <div class="form-box">
                                <form class="login-form" action="">
                                    <div class="dol clearfix">
                                        <i class="user-icon"></i>
                                        <input type="text" name="username" required placeholder="请输入用户名，包含字母和数字">
                                    </div>
                                    <div class="dol clearfix">
                                        <i class="mm-icon"></i>
                                        <input type="password" name="userpwd" required placeholder="请输入密码，6-15位可包含数字和字母">
                                    </div>
                                    <div class="dol clearfix">
                                        <div class="pull-left">
                                            <label for="wjmm">
                                                <input id="wjmm" type="checkbox">
                                                <label></label>
                                                <span class="check">自动登录</span>
                                            </label>
                                        </div>
                                        <div class="pull-right">
                                            <a href="#">忘记密码？</a>
                                        </div>
                                    </div>
                                    <div class="dol">
                                        <button type="submit">登录</button>
                                    </div>
                                </form>
                                <div class="qt-title">其他登录方式</div>
                                <ul class="qt-fx clearfix">
                                    <li class="weix"><a href="#">
                                            <img src="./img/weixin.png" alt="">
                                        </a></li>
                                    <li class="qq"><a href="#">
                                            <img src="./img/tenxun.png" alt="">
                                        </a></li>
                                    <li class="weibo"><a href="#">
                                            <img src="./img/weibo.png" alt="">
                                        </a></li>
                                </ul>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="register">
                            <div class="form-box">
                                <form class="register-form" action="">
                                    <div class="dol clearfix">
                                        <i class="phone-icon"></i>
                                        <input type="number" required name="phone" placeholder="请输入手机号">
                                    </div>
                                    <div class="dol clearfix">
                                        <i class="user-icon"></i>
                                        <input type="text" required name="username" placeholder="请输入用户名，包含字母和数字">
                                    </div>
                                    <div class="dol clearfix">
                                        <i class="mm-icon"></i>
                                        <input type="password" required id="password" name="password" placeholder="设置密码，6-15位可包含数字和字母">
                                    </div>
                                    <div class="dol clearfix">
                                        <i class="mm-icon"></i>
                                        <input type="password" required name="password_again" placeholder="请再次输入密码">
                                    </div>
                                    <div class="dol clearfix">
                                        <i class="mm-icon"></i>
                                        <input type="text" name="code" required style="width:205px" placeholder="请填写验证码">
                                        <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1540460458786&di=7f51005a49b54ef4f417b18b51960722&imgtype=0&src=http%3A%2F%2Fh.hiphotos.baidu.com%2Fzhidao%2Fwh%253D450%252C600%2Fsign%3Dbcb93235f21fbe091c0bcb105e502005%2Feac4b74543a98226088e26648a82b9014a90eb22.jpg"
                                            class="code-img" alt="">
                                    </div>
                                    <div class="dol clearfix">
                                        <div class="pull-left">
                                            <label for="tongyi">
                                                <input id="tongyi" checked type="checkbox">
                                                <label></label>
                                                <span class="check">我已阅读并同意 <a href="#">《三更讲故事用户协议》</a> </span>
                                            </label>
                                        </div>

                                    </div>
                                    <div class="dol">
                                        <button type="submit">注册</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="./js/jquery.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/jquery.validate.min.js"></script>
    <script src="./js/jquery.validate.extend.js"></script>
    <script src="./js/messages_zh.min.js"></script>
    <script src="./js/app.js"></script>
    <script>
        $('.comment-list .main .open,.comment-list .main .clos').click(function () {
            $(this).parents('.main').find('.d').toggle();
            return false;
        })
        $('.open-comment').click(function () {
            if ($(this).text() === '回复') {
                $(this).text('收起');
            } else {
                $(this).text('回复');
            }
            $(this).parents('li').find('.reply input').attr('placeholder', '回复@' + $(this).parents('li').find('.t').text());
            $(this).parents('li').find('.reply').toggle();
            return false;
        })
    </script>
</body>

</html>