@media (max-width: 1920px) {
    .top-bg-box {
        height: 292px
    }

    .top-bg-box.rec-book {
        height: 338px
    }

    .crumbs-nav.rec-book {
        margin: 16px auto 188px
    }
}

@media (max-width: 1440px) {
    .top-bg-box {
        height: 220px
    }

    .top-bg-box.rec-book {
        height: 254px
    }

    .crumbs-nav {
        margin: 0 auto 60px
    }

    .crumbs-nav.rec-book {
        margin: 16px auto 110px
    }
}

@media (max-width: 1280px) {
    .top-bg-box {
        height: 180px
    }

    .top-bg-box.rec-book {
        height: 211px
    }

    .crumbs-nav.rec-book {
        margin: 16px auto 66px
    }
}

@media (max-width: 2590px) {

    .top-bg-op-box,
    .top-bg-op-box .jumpWrap {
        height: 450px
    }

    .crumbs-nav.top-op {
        margin: 16px auto 294px
    }
}

@media (max-width: 1920px) {

    .top-bg-op-box,
    .top-bg-op-box .jumpWrap {
        height: 338px
    }

    .crumbs-nav.top-op {
        margin: 16px auto 188px
    }
}

@media (max-width: 1440px) {

    .top-bg-op-box,
    .top-bg-op-box .jumpWrap {
        height: 254px
    }

    .crumbs-nav.top-op {
        margin: 16px auto 110px
    }
}

@media (max-width: 1280px) {

    .top-bg-op-box,
    .top-bg-op-box .jumpWrap {
        height: 211px
    }

    .crumbs-nav.top-op {
        margin: 16px auto 66px
    }
}

.book-detail-wrap {
    position: relative;
    z-index: 10;
    min-height: 700px;
    margin-top: -120px;
}

.book-information {
    position: relative;
    z-index: 2;
    margin-bottom: 20px;
    padding-bottom: 20px;
    background: #fff
}

.book-information .flag {
    position: absolute;
    top: -4px;
    right: -4px;
    width: 65px;
    height: 65px;
    background-repeat: no-repeat;
    background-position: -79px -82px;
    background-size: 335px
}

.book-information .book-img {
    float: left;
    width: 144px;
    height: 192px;
    margin: 20px 20px 0
}

.book-information .book-img.small {
    width: 132px;
    height: 176px
}

.book-information .book-img a,
.book-information .book-img img {
    display: block
}

.book-information .book-info {
    float: left;
    margin-top: 20px
}

.book-information .book-info.differ {
    margin-top: 28px
}

.book-information .book-info.differ h1 {
    margin-bottom: 24px
}

.book-information .book-info.differ .tag {
    margin-bottom: 18px
}

.book-information .book-info.differ .tag+.intro {
    margin-bottom: 18px
}

.book-information .book-info h1 {
    font: 700 28px/38px PingFangSC-Regular, HelveticaNeue-Light, 'Helvetica Neue Light', 'Microsoft YaHei', sans-serif;
    overflow: hidden;
    height: 38px;
    margin-bottom: 12px
}

.book-information .book-info h1 span {
    font: 14px/20px PingFangSC-Regular, '-apple-system', Simsun;
    margin-left: 20px
}

.book-information .book-info .tag {
    font-size: 0;
    overflow: hidden;
    height: 25px;
    margin-bottom: 12px
}

.book-information .book-info .tag a,
.book-information .book-info .tag span {
    font: 12px/22px PingFangSC-Regular, '-apple-system', Simsun;
    display: inline-block;
    overflow: hidden;
    height: 22px;
    margin-right: 12px;
    padding: 0 10px;
    text-align: center;
    vertical-align: middle;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px
}

.book-information .book-info .tag a.blue,
.book-information .book-info .tag span.blue {
    color: #83dde6;
    border-color: #69cad3
}

.book-information .book-info .tag a.red,
.book-information .book-info .tag span.red {
    transition: border .3s;
    color: #f57d5a;
    border-color: #fb4d2b
}

.book-information .book-info .tag a.red:hover,
.book-information .book-info .tag span.red:hover {
    border-color: #ed4259
}

.book-information .book-info .tag+p+p {
    overflow: hidden;
    height: 24px;
    margin-bottom: 14px;
    color: #666
}

.book-information .book-info .tag+p+p cite,
.book-information .book-info .tag+p+p em,
.book-information .book-info .tag+p+p i {
    float: left
}

.book-information .book-info .tag+p+p em {
    font: 20px/22px Arial;
    letter-spacing: .5px;
    color: #262626
}

.book-information .book-info .tag+p+p i {
    font: 18px/22px PingFangSC-Regular, '-apple-system', Simsun;
    margin: 0 10px;
    color: #e6e6e6
}

.book-information .book-info .tag+p+p cite {
    font: 12px/20px PingFangSC-Regular, '-apple-system', Simsun;
    margin-top: 2px;
    margin-left: 3px
}

.book-information .book-info .tag+p+p cite span {
    font: 12px/20px PingFangSC-Regular, '-apple-system', Simsun
}

.book-information .book-info .tag+.intro {
    font: 14px/20px PingFangSC-Regular, '-apple-system', Simsun;
    overflow: hidden;
    height: 20px;
    margin-bottom: 11px
}

.book-information .book-info .tag+p+p+p .red-btn {
    background-color: #ff4d2f;
    border: none;
    color: #fff;
}

.book-information .book-info .tag+p+p+p {
    font-size: 0
}

.book-information .book-info .tag+p+p+p a {
    font: 14px/34px PingFangSC-Regular, '-apple-system', Simsun;
    display: inline-block;
    width: 102px;
    height: 34px;
    margin-right: 15px;
    text-align: center;
    vertical-align: middle;
    border-width: 1px;
    border-style: solid;
    border: 1px solid #343434;
    color: #343434;
    border-radius: 5px;
}

.book-information .book-info .tag+p+p+p a#downloadAppBtn {
    font-size: 12px;
    line-height: 14px;
    box-sizing: border-box;
    padding: 4px 0;
    color: #fff;
    border: none;
    background: #be2c23;
    background-image: radial-gradient(50% 100%, rgba(255, 103, 59, .5) 0, #be2c23 100%)
}

.book-pre {
    font: 14px/28px PingFangSC-Regular, '-apple-system', Simsun
}

.book-pre .book-info {
    width: 786px
}

.book-pre .book-info h1 {
    white-space: nowrap;
    text-overflow: ellipsis
}

.book-pre .count-down {
    line-height: 48px;
    height: 48px
}

.book-pre .count-down b {
    font-size: 130%;
    margin-right: 50px
}

.book-pre .count-down p {
    font-size: 130%;
    font-weight: 700;
    display: inline-block;
    color: #ed4259
}

.book-pre a.red-btn {
    font: 14px/34px PingFangSC-Regular, '-apple-system', Simsun;
    display: inline-block;
    width: 150px;
    height: 34px;
    margin-right: 20px;
    text-align: center;
    vertical-align: middle;
    border-width: 1px;
    border-style: solid
}

.book-img {
    width: 72px;
    height: 96px;
    margin-right: 12px
}

.book-img a {
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .35), 0 0 5px #f9f2e9 inset
}

.book-img a img {
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-transform .3s ease-out;
    -moz-transition: -moz-transform .3s ease-out;
    -ms-transition: -ms-transform .3s ease-out;
    transition: transform .3s ease-out;
    color: #fcfcfa
}

.book-img a img:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1)
}

.book-img a span {
    font: 12px/18px Arial;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 17px;
    padding: 0 3px 0 2px;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 0 0;
    background: #ed4259
}

.right-wrap {
    width: 250px;
}

.author-state {
    padding-bottom: 9px;
    text-align: center;
    background: #fff;
}

.author-state .author-info {
    width: 226px;
    margin: 0 auto
}

.author-state .info-wrap {
    padding: 20px 0;
    border-top: 1px solid #e5e5e5
}

.author-state .info-wrap.nobt {
    border-top: none
}

.author-state .info-wrap .god-light {
    display: inline-block;
    margin-left: 5px;
    vertical-align: -1px
}

.author-state .info-wrap .god-light.lv1 {
    width: 18px;
    height: 16px;
    background-image: url(/qd/images/book_details/sprite.385d7.png);
    background-repeat: no-repeat;
    background-position: -129px -64px;
    background-size: 335px
}

.author-state .info-wrap .god-light.lv2 {
    width: 19px;
    height: 16px;
    background-image: url(/qd/images/book_details/sprite.385d7.png);
    background-repeat: no-repeat;
    background-position: -299px -188px;
    background-size: 335px
}

.author-state .info-wrap .god-light.lv3 {
    width: 19px;
    height: 16px;
    background-image: url(/qd/images/book_details/sprite.385d7.png);
    background-repeat: no-repeat;
    background-position: -299px -206px;
    background-size: 335px
}

.author-state .info-wrap .god-light.lv4 {
    width: 19px;
    height: 16px;
    background-image: url(/qd/images/book_details/sprite.385d7.png);
    background-repeat: no-repeat;
    background-position: -299px -224px;
    background-size: 335px
}

.author-state .author-photo {
    position: relative;
    z-index: 1;
    width: 100px;
    height: 100px;
    margin: 0 auto 16px
}

.author-state .author-photo a,
.author-state .author-photo img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 100%
}

.author-state .author-photo span {
    font: 12px/16px PingFangSC-Regular, '-apple-system', Simsun;
    position: absolute;
    z-index: 1;
    bottom: -5px;
    left: 50%;
    width: 28px;
    height: 16px;
    margin-left: -14px;
    text-align: center;
    color: #fff;
    border-radius: 2px
}

.author-state .author-photo span.lv {
    font: italic 12px/16px Arial;
    background: #fc6c28
}

.author-state .author-photo span.author {
    background: #0096e9
}

.author-state .author-photo span.god {
    background: #bf2c24
}

.author-state .author-photo span.platina {
    width: 40px;
    height: 16px;
    margin-left: -19px;
    background-image: url(/qd/images/book_details/sprite.385d7.png);
    background-repeat: no-repeat;
    background-position: -87px -64px;
    background-size: 335px
}

.author-state .author-photo+p {
    font: 18px/1 PingFangSC-Regular, HelveticaNeue-Light, 'Helvetica Neue Light', 'Microsoft YaHei', sans-serif;
    position: relative;
    overflow: hidden;
    height: 22px;
    margin-bottom: 8px;
    text-align: center
}

.author-state .author-photo+p a {
    display: inline-block;
    vertical-align: middle;
    color: #494949;
}

.author-state .author-photo+p a+a {
    position: absolute;
    top: 4px
}

.author-state .author-photo+p a {
    display: inline-block;
    vertical-align: middle
}

.author-state .author-photo+p a+a {
    position: absolute;
    top: 4px
}

.author-state .author-photo+p+p {
    font: 12px/24px PingFangSC-Regular, '-apple-system', Simsun;
    overflow: hidden;
    max-height: 72px
}

.author-state .author-photo+p+p cite {
    display: none
}

.author-state .author-photo+p+p.extend {
    position: relative;
    z-index: 1
}

.author-state .author-photo+p+p.extend cite {
    font-size: 16px;
    line-height: 16px;
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: 3px;
    display: block;
    width: 18px;
    height: 18px;
    cursor: pointer;
    text-align: center;
    background: #f7f6f2
}

.author-state .work-state {
    padding-left: 12px
}

.author-state .work-state li {
    float: left;
    width: 50px;
    margin-left: 28px
}

.author-state .work-state li:first-child {
    margin-left: 0
}

.author-state .work-state li span {
    display: block;
    margin-bottom: 9px
}

.author-state .work-state li span.book {
    width: 48px;
    height: 48px;
    background-image: url(/qd/images/book_details/sprite.385d7.png);
    background-repeat: no-repeat;
    background-position: -193px -80px;
    background-size: 335px
}

.author-state .work-state li span.word {
    width: 48px;
    height: 48px;
    background-image: url(/qd/images/book_details/sprite.385d7.png);
    background-repeat: no-repeat;
    background-position: -249px -150px;
    background-size: 335px
}

.author-state .work-state li span.coffee {
    width: 48px;
    height: 48px;
    background-image: url(/qd/images/book_details/sprite.385d7.png);
    background-repeat: no-repeat;
    background-position: -50px -222px;
    background-size: 335px
}

.author-state .work-state li p {
    font: 12px/18px PingFangSC-Regular, '-apple-system', Simsun;
    color: #666
}

.author-state .work-state li em {
    font: 14px/18px Arial;
    white-space: nowrap;
    color: #bf2c24
}

.author-state .work-state li em i {
    font: 12px/18px PingFangSC-Regular, '-apple-system', Simsun;
    vertical-align: 1px
}

.author-state .other-works {
    padding-bottom: 0
}

.author-state .other-works h3 {
    font-size: 18px;
    line-height: 21px;
    overflow: hidden;
    height: 21px;
    margin-bottom: 20px;
    text-align: left
}

.author-state .other-works h3 a {
    font: 12px/16px PingFangSC-Regular, '-apple-system', Simsun;
    float: right;
    margin-top: 3px
}

.author-state .other-works h3 a .iconfont {
    font-size: 12px;
    display: inline-block;
    min-width: 12px;
    margin-top: -1px;
    vertical-align: middle
}

.author-state .other-works .work-slides {
    position: relative;
    z-index: 1;
    overflow: hidden;
    width: 226px;
    height: 296px;
    margin: 0 auto;
    padding-top: 4px
}

.author-state .other-works .work-slides li {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 226px;
    transition-timing-function: ease-in-out !important;
    transition-duration: .5s !important
}

.author-state .other-works .work-slides li#item1 {
    display: block
}

.author-state .other-works .work-slides li .book-img {
    width: 84px;
    height: 112px;
    margin: 0 auto 10px
}

.author-state .other-works .work-slides li .book-img em {
    position: absolute;
    top: 0;
    left: 0;
    width: 44px;
    height: 44px;
    background-image: url(/qd/images/book_details/sprite.385d7.png);
    background-repeat: no-repeat;
    background-position: -146px -82px;
    background-size: 335px
}

.author-state .other-works .work-slides li .text h4 {
    font: 18px/24px PingFangSC-Regular, HelveticaNeue-Light, 'Helvetica Neue Light', 'Microsoft YaHei', sans-serif;
    overflow: hidden;
    height: 24px;
    margin-bottom: 9px
}

.author-state .other-works .work-slides li .text p.red {
    font: 12px/16px PingFangSC-Regular, '-apple-system', Simsun;
    overflow: hidden;
    height: 16px;
    margin-bottom: 10px
}

.author-state .other-works .work-slides li .text p.red a {
    color: #bf2c24
}

.author-state .other-works .work-slides li .text p.red a:hover {
    color: #ed4259
}

.author-state .other-works .work-slides li .text p.red i {
    font-family: Airal;
    margin: 0 3px
}

.author-state .other-works .work-slides li .text p.red+p {
    font: 12px/20px PingFangSC-Regular, '-apple-system', Simsun;
    overflow: hidden;
    height: 60px;
    margin-bottom: 16px;
    text-align: left;
    color: grey
}

.author-state .other-works .work-slides li .text .add-book {
    font: 14px/1 PingFangSC-Regular, '-apple-system', Simsun;
    display: block;
    width: 98px;
    margin: 0 auto;
    padding: 7px 0;
    border-width: 1px;
    border-style: solid;
    border-radius: 20px
}

.author-state .other-works .work-slides .nav {
    display: none
}

.author-state .other-works .work-slides .arrows a {
    position: absolute;
    top: 50px;
    color: #e6e6e6
}

.author-state .other-works .work-slides .arrows a:hover {
    color: #ccc
}

.author-state .other-works .work-slides .arrows a.prev {
    left: 0
}

.author-state .other-works .work-slides .arrows a.next {
    right: 0
}

.author-state .rec-works {
    padding-top: 24px;
    text-align: left;
    border-top: 1px solid #e5e5e5
}

.author-state .rec-works h3 {
    font-size: 18px;
    line-height: 21px;
    overflow: hidden;
    height: 21px;
    margin-bottom: 6px
}

.author-state .rec-works li {
    font: 14px/32px PingFangSC-Regular, '-apple-system', Simsun;
    overflow: hidden;
    height: 32px
}

.author-state .rec-works li a {
    float: left
}

.author-state .rec-works li a.channel {
    max-width: 82px;
    margin-left: -7px;
    color: grey
}

.author-state .rec-works li a.channel em {
    font-family: PingFangSC-Regular, HelveticaNeue-Light, 'Helvetica Neue Light', 'Microsoft YaHei', sans-serif;
    font-size: 13px
}

.author-state .rec-works li a.channel:hover {
    color: #ed4259
}

.author-state .rec-works li a.name {
    overflow: hidden;
    max-width: 86px;
    white-space: nowrap;
    text-overflow: ellipsis
}

.author-state .rec-works li a.writer {
    font: 12px/32px PingFangSC-Regular, '-apple-system', Simsun;
    float: right;
    overflow: hidden;
    max-width: 64px;
    text-align: right;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #b3b3b3
}

.author-state .rec-works li a.writer:hover {
    color: #ed4259
}

.book-info-detail {
    margin-bottom: 20px
}

.book-intro {
    padding-bottom: 20px;
    border-bottom: 1px solid #e6e6e6
}

.book-intro p {
    font: 14px/28px PingFangSC-Regular, '-apple-system', Simsun;
    word-wrap: break-word;
}