<!-- 首页基本信息 star-->
<div class="presonal_conts_left">
    <!-- 个人基本信息 star-->
    <div class="presonal_index_title">
        <img src="http://passport.wuyekezhan.com/api/static/avatar/624/624.png" alt="" class="presonal_index_img">
        <div class="presonal_index_msg">
            <div class="pre_index_name"><strong>程远博</strong></div>
            <div class="pre_index_logintime">
                <i><span>注册时间：</span>2018-10-17 15:33:33</i>
                <i><span>上次登录时间：</span>2018-10-29 09:59:42</i>
            </div>
            <hr>
            <div class="pre_index_yupiao">
                <p>月票数量： <span>0</span> 张</p>
                <!--<a href="http://www.wuyekezhan.com/plot-howGetTicket/">如何获取月票？</a>-->
            </div>
            <div class="pre_index_kubi">
                <p>午币数量： <span>0</span> 个</p>
                <!--<a href="http://www.kuman.com/pay-aliPay/?return_url=http://www.wuyekezhan.com/home/" target="_blank">充值午币</a>-->
                <a href="http://www.wuyekezhan.com/pay/">充值午币</a>
            </div>
            <div class="pre_index_work">
                <a href="http://www.wuyekezhan.com/pay-book/"><img src="/static/images/img/zuoping2.png" alt="">购买作品数：<span>0</span>
                    本</a>
                <a href="http://www.wuyekezhan.com/subscribe/"><img src="/static/images/img/shujia4.png" alt="">我的书架：<span>0</span>
                    本</a>
                <a href="http://www.wuyekezhan.com/consume-bask/"><img src="/static/images/img/dashang5.png" alt="">打赏午币数：<span>0</span>
                    个</a>
            </div>
        </div>
    </div>
    <!-- 个人基本信息 end-->

    <!-- 我的动态 star-->
    <div class="presonal_index_mymsg">
        <div>
            <span></span>
            <b>我的动态</b>
        </div>
        <ul>
            <li>2018-10-30 11:22:15，我在<a href="http://www.wuyekezhan.com/book-101282/" target="_blank">《剪纸人》</a>
                回复网友"knit"的评论: 这本书还是不错的，参考了不少好的题材，继续加油！我支持你！
            </li>
            <li>2018-10-30 11:21:50，我在<a href="http://www.wuyekezhan.com/book-101282/" target="_blank">《剪纸人》</a>
                回复网友"knit"的评论: 这本书还是不错的，参考了不少好的题材，继续加油！我支持你！
            </li>
            <li>2018-10-27 10:37:09，我在<a href="http://www.wuyekezhan.com/book-101306/" target="_blank">《烂柯人》</a>发表评论:
                加油，没说多少评论，但一直在看。加油，没说多少评论，但一直在看。加油，没说多少评论，但一直在看。加油，没说多少评论，但一直在看。加油，没说多少评论，但一直在看。加油，没说多少评论，但一直在看。加油，没说多少评论，但一直在看。加油，没说多少评论，但一直在看。加油，没说多少评论，但一直在看。加油，没说多少评论，但一直在看。加油，没说多少评论，但一直在看。加油，没
            </li>
        </ul>
        <p>没有更多内容了</p>
    </div>
    <!-- 我的动态 end-->

</div>
<!-- 首页基本信息 end-->


<!-- 首页猜你喜欢 star-->
<div class="presonal_conts_right">
    <p>
        <b>猜你喜欢</b>
        <i id="changeOne">换一批</i>
    </p>
    <hr style="margin-bottom: 0px;">
    <div class="presonal_conts_cnxh">
        <ul>
            <li class="presonal_conts_pic"><a href="/book-100267/" target="_blank"><img src="http://www.wuyekezhan.com/static/cover/000/10/02/67/10005b751bc0342a7.jpg"></a></li>
            <li class="presonal_conts_name"><a href="/book-100267/" target="_blank">乡野怪闻之凶...</a></li>
            <li class="presonal_conts_zuoze">作者：莫装01</li>
            <li class="presonal_conts_zhangjie">最新：<a href="/book-100267/373/">第373章</a></li>
        </ul>
        <ul>
            <li class="presonal_conts_pic"><a href="/book-100736/" target="_blank"><img src="http://www.wuyekezhan.com/static/cover/002/02/30/63/2023063.jpg"></a></li>
            <li class="presonal_conts_name"><a href="/book-100736/" target="_blank">阳债阴偿：鬼...</a></li>
            <li class="presonal_conts_zuoze">作者：苍小鸡</li>
            <li class="presonal_conts_zhangjie">最新：<a href="/book-100736/410/">第410章</a></li>
        </ul>
        <ul>
            <li class="presonal_conts_pic"><a href="/book-100858/" target="_blank"><img src="http://www.wuyekezhan.com/static/cover/000/10/08/58/10005b8e4a0117eae.jpg"></a></li>
            <li class="presonal_conts_name"><a href="/book-100858/" target="_blank">修灵直播</a></li>
            <li class="presonal_conts_zuoze">作者：是朕mq</li>
            <li class="presonal_conts_zhangjie">最新：<a href="/book-100858/627/">第627章</a></li>
        </ul>
        <ul>
            <li class="presonal_conts_pic"><a href="/book-100884/" target="_blank"><img src="http://www.wuyekezhan.com/static/cover/000/10/08/84/100884.jpg"></a></li>
            <li class="presonal_conts_name"><a href="/book-100884/" target="_blank">捡了个女鬼俏...</a></li>
            <li class="presonal_conts_zuoze">作者：育在雕琢</li>
            <li class="presonal_conts_zhangjie">最新：<a href="/book-100884/439/">第439章</a></li>
        </ul>
        <ul>
            <li class="presonal_conts_pic"><a href="/book-101022/" target="_blank"><img src="http://www.wuyekezhan.com/static/cover/000/03/13/06/101022_min.jpg"></a></li>
            <li class="presonal_conts_name"><a href="/book-101022/" target="_blank">阴间公寓</a></li>
            <li class="presonal_conts_zuoze">作者：杨家少郎</li>
            <li class="presonal_conts_zhangjie">最新：<a href="/book-101022/372/">第372章</a></li>
        </ul>
    </div>
</div>
<!-- 首页猜你喜欢 end-->