<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/app.css">
</head>

<body>
    <div class="index-bg wykz-bg"></div>
    <div class="wrap index clearfix">
        <div class="index-header">
            <div class="header-pb"></div>
            <div class="header-wy"></div>
            <div class="d1 dl"></div>
            <div class="d2 dl"></div>
            <!-- menu -->
            <div class="menu-box clearfix">
                <div class="pull-left menu">
                    <ul class="pull-left">
                        <li>
                            <a href="#">书屋</a>
                        </li>
                        <li class="active">
                            <a href="#">长篇</a>
                        </li>
                        <li class="">
                            <a href="#">短篇</a>
                        </li>
                        <li>
                            <a href="#">故事集</a>
                        </li>
                    </ul>
                    <div class="pull-left search-box">
                        <input type="text" class="search-input" placeholder="书名/作者">
                        <button class="search-btn"><svg t="1535339923867" class="icon" viewBox="0 0 1024 1024"
                                version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2042" xmlns:xlink="http://www.w3.org/1999/xlink"
                                width="19" height="19">
                                <defs>
                                    <style type="text/css"></style>
                                </defs>
                                <path d="M928 886.4l-160-160c128-150.4 120-377.6-20.8-520-150.4-150.4-393.6-150.4-542.4 0-72 72-112 169.6-112 272s40 198.4 112 272c72 72 169.6 112 272 112 91.2 0 179.2-32 248-91.2l160 160c12.8 12.8 32 12.8 44.8 0 11.2-12.8 11.2-32-1.6-44.8zM249.6 705.6c-60.8-60.8-94.4-140.8-94.4-225.6s33.6-166.4 94.4-225.6c62.4-62.4 144-92.8 225.6-92.8s163.2 30.4 225.6 92.8c124.8 124.8 124.8 328 0 452.8C640 768 560 801.6 475.2 801.6c-84.8-3.2-164.8-35.2-225.6-96z"
                                    fill="#FFFFFF" p-id="2043"></path>
                            </svg></button>
                    </div>
                    <ul class="pull-right menu-right">
                        <li class="menu-login1 login_flag">
                            <a href="javascript:void(0)" data-toggle="modal" data-target="#LoginModal">登录</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="list_content" style="border: 1px solid #E5E5E5; min-height: 600px;background: #fff;">
            <h2>墨瞳</h2>
            <div class="read_info">
                <i>作者：<span>晨光</span></i>
                <i>更新时间：<span>2018-11-20 10:47:13</span></i>
                <i>状态：                     <span>连载</span>
                    </i>
            </div>
            <div class="list_content_s">
                <a href="javascript:void(0)" class="descList">↓ 正序</a>
                <a href="javascript:void(0)" class="acsList active">↑ 倒序</a>
                            <a href="javascript:void(0)" class="collectBook login_flag">+ 收藏</a>
                        </div>
            <div class="list_content_name">
                <!--<dl class="list_content_names chapterDesc" style="display: none">-->
                    <!--<dd>-->
                        <!---->
                        <!---->
                        <!--<a href="http://www.wykz.com/book-101639//"><b></b></a>-->
                        <!---->
                        <!---->
                        <!--                <a href=""></a>
                    <a href=""></a>-->
                    <!--</dd>-->
                <!--</dl>-->
                <div class="list_content_names chapterDesc" style="display:block">
                                    <ul style="display: block;">
                        <li><span></span>第一卷   血色魔都</li>
                                                                <li><a href="http://www.wykz.com/book-101639/1/"><b>第一章 诡异红包群</b></a></li>
                                                                                    <li><a href="http://www.wykz.com/book-101639/2/"><b>第二章   连环杀人案</b></a></li>
                                                                                    <li><a href="http://www.wykz.com/book-101639/3/"><b>第三章 捉摸不透的冲突</b></a></li>
                                                                                    <li><a href="http://www.wykz.com/book-101639/4/"><b>第四章 联合调查</b></a></li>
                                                                                    <li><a href="http://www.wykz.com/book-101639/5/"><b>第五章  两个人</b></a></li>
                                                                                    <li><a href="http://www.wykz.com/book-101639/6/"><b>第六章 查案</b></a></li>
                                                                                    <li><a href="http://www.wykz.com/book-101639/7/"><b>第七章 戏精登场</b></a></li>
                                                                                    <li><a href="http://www.wykz.com/book-101639/8/"><b>第八章 他不是人</b></a></li>
                                                                                    <li><a href="http://www.wykz.com/book-101639/9/"><b>第九章 高档化妆品</b></a></li>
                                                                                    <li><a href="http://www.wykz.com/book-101639/10/"><b>第十章 被误会了</b></a></li>
                                                                                    <li><a href="http://www.wykz.com/book-101639/11/"><b>第十一章  机智女人</b></a></li>
                                                                                    <li><a href="http://www.wykz.com/book-101639/12/"><b>第十二章 都在撒谎</b></a></li>
                                                                                    <li><a href="http://www.wykz.com/book-101639/13/"><b>第十三章 戴绿帽子</b></a></li>
                                                                                    <li><a href="http://www.wykz.com/book-101639/14/"><b>  第十四章 苏绮跑路了</b></a></li>
                                                                                    <li><a href="http://www.wykz.com/book-101639/15/"><b>第十五章 逮个正着</b></a></li>
                                                                                    <li><a href="http://www.wykz.com/book-101639/16/"><b>第十六章 答应配合</b></a></li>
                                                                                    <li><a href="http://www.wykz.com/book-101639/17/"><b>第十七章 捕捉行动</b></a></li>
                                                                                    <li><a href="http://www.wykz.com/book-101639/18/"><b>第十八章 他是疯子</b></a></li>
                                                                                    <li><a href="http://www.wykz.com/book-101639/19/"><b>第十九章 险中险</b></a></li>
                                                                                    <li><a href="http://www.wykz.com/book-101639/20/"><b>第二十章 一一交代</b></a></li>
                                                                                    <li><a href="http://www.wykz.com/book-101639/21/"><b>第二十一章 案件告破</b></a></li>
                                                                                    <li><a href="http://www.wykz.com/book-101639/22/"><b>第二十二章 墨色瞳孔</b></a></li>
                                                            <li></li><li></li></ul>
                                </div>
                <div class="list_content_names chapterAsc" style="display:none">
                                            <ul style="display: block;">
                            <li><span></span>第一卷   血色魔都</li>
                                                                <li><a href="http://www.wykz.com/book-101639/22/"><b>第二十二章 墨色瞳孔</b></a></li>
                                                                                    <li><a href="http://www.wykz.com/book-101639/21/"><b>第二十一章 案件告破</b></a></li>
                                                                                    <li><a href="http://www.wykz.com/book-101639/20/"><b>第二十章 一一交代</b></a></li>
                                                                                    <li><a href="http://www.wykz.com/book-101639/19/"><b>第十九章 险中险</b></a></li>
                                                                                    <li><a href="http://www.wykz.com/book-101639/18/"><b>第十八章 他是疯子</b></a></li>
                                                                                    <li><a href="http://www.wykz.com/book-101639/17/"><b>第十七章 捕捉行动</b></a></li>
                                                                                    <li><a href="http://www.wykz.com/book-101639/16/"><b>第十六章 答应配合</b></a></li>
                                                                                    <li><a href="http://www.wykz.com/book-101639/15/"><b>第十五章 逮个正着</b></a></li>
                                                                                    <li><a href="http://www.wykz.com/book-101639/14/"><b>  第十四章 苏绮跑路了</b></a></li>
                                                                                    <li><a href="http://www.wykz.com/book-101639/13/"><b>第十三章 戴绿帽子</b></a></li>
                                                                                    <li><a href="http://www.wykz.com/book-101639/12/"><b>第十二章 都在撒谎</b></a></li>
                                                                                    <li><a href="http://www.wykz.com/book-101639/11/"><b>第十一章  机智女人</b></a></li>
                                                                                    <li><a href="http://www.wykz.com/book-101639/10/"><b>第十章 被误会了</b></a></li>
                                                                                    <li><a href="http://www.wykz.com/book-101639/9/"><b>第九章 高档化妆品</b></a></li>
                                                                                    <li><a href="http://www.wykz.com/book-101639/8/"><b>第八章 他不是人</b></a></li>
                                                                                    <li><a href="http://www.wykz.com/book-101639/7/"><b>第七章 戏精登场</b></a></li>
                                                                                    <li><a href="http://www.wykz.com/book-101639/6/"><b>第六章 查案</b></a></li>
                                                                                    <li><a href="http://www.wykz.com/book-101639/5/"><b>第五章  两个人</b></a></li>
                                                                                    <li><a href="http://www.wykz.com/book-101639/4/"><b>第四章 联合调查</b></a></li>
                                                                                    <li><a href="http://www.wykz.com/book-101639/3/"><b>第三章 捉摸不透的冲突</b></a></li>
                                                                                    <li><a href="http://www.wykz.com/book-101639/2/"><b>第二章   连环杀人案</b></a></li>
                                                                                    <li><a href="http://www.wykz.com/book-101639/1/"><b>第一章 诡异红包群</b></a></li>
                                                                <li></li><li></li></ul>
                                            <!---->
                        <!--                <a href=""></a>
                    <a href=""></a>-->
                </div>
            </div>
        </div>
        <div class="menu-fixed">
            <div href="#" class="back-top">
                <i></i>
            </div>
            <div class="menu">
                <ul>
                    <li>
                        <p>
                            <i></i>
                            联系热线
                        </p>
                        <p>152-1192-9941</p>
                    </li>
                    <li>
                        <a href="#">
                            <i></i> QQ咨询
                        </a>
                    </li>
                    <li>
                        <img src="./img/menu-code.png" alt="">
                        <p>扫码联系商务</p>
                        <p>24小时在线服务 </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="footer">
        <p>© 2018 午夜客栈wuyekezhan.com 杭州全集文化传播有限公司版权所有 浙ICP备18032227号</p>
    </div>
    <div class="modal fade" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <!-- <h4 class="modal-title" id="myModalLabel">Modal title</h4> -->
                </div>
                <div class="modal-body">
                    <div class="tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#login" aria-controls="home" role="tab"
                                    data-toggle="tab">登录</a></li>
                            <li role="presentation"><a href="#register" aria-controls="profile" role="tab" data-toggle="tab">注册</a></li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="login">
                            <div class="form-box">
                                <form class="login-form" action="">
                                    <div class="dol clearfix">
                                        <i class="user-icon"></i>
                                        <input type="text" name="username" required placeholder="请输入用户名，包含字母和数字">
                                    </div>
                                    <div class="dol clearfix">
                                        <i class="mm-icon"></i>
                                        <input type="password" name="userpwd" required placeholder="请输入密码，6-15位可包含数字和字母">
                                    </div>
                                    <div class="dol clearfix">
                                        <div class="pull-left">
                                            <label for="wjmm">
                                                <input id="wjmm" type="checkbox">
                                                <label></label>
                                                <span class="check">自动登录</span>
                                            </label>
                                        </div>
                                        <div class="pull-right">
                                            <a href="#">忘记密码？</a>
                                        </div>
                                    </div>
                                    <div class="dol">
                                        <button type="submit">登录</button>
                                    </div>
                                </form>
                                <div class="qt-title">其他登录方式</div>
                                <ul class="qt-fx clearfix">
                                    <li class="weix"><a href="#">
                                            <img src="./img/weixin.png" alt="">
                                        </a></li>
                                    <li class="qq"><a href="#">
                                            <img src="./img/tenxun.png" alt="">
                                        </a></li>
                                    <li class="weibo"><a href="#">
                                            <img src="./img/weibo.png" alt="">
                                        </a></li>
                                </ul>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="register">
                            <div class="form-box">
                                <form class="register-form" action="">
                                    <div class="dol clearfix">
                                        <i class="phone-icon"></i>
                                        <input type="number" required name="phone" placeholder="请输入手机号">
                                    </div>
                                    <div class="dol clearfix">
                                        <i class="user-icon"></i>
                                        <input type="text" required name="username" placeholder="请输入用户名，包含字母和数字">
                                    </div>
                                    <div class="dol clearfix">
                                        <i class="mm-icon"></i>
                                        <input type="password" required id="password" name="password" placeholder="设置密码，6-15位可包含数字和字母">
                                    </div>
                                    <div class="dol clearfix">
                                        <i class="mm-icon"></i>
                                        <input type="password" required name="password_again" placeholder="请再次输入密码">
                                    </div>
                                    <div class="dol clearfix">
                                        <i class="mm-icon"></i>
                                        <input type="text" name="code" required style="width:205px" placeholder="请填写验证码">
                                        <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1540460458786&di=7f51005a49b54ef4f417b18b51960722&imgtype=0&src=http%3A%2F%2Fh.hiphotos.baidu.com%2Fzhidao%2Fwh%253D450%252C600%2Fsign%3Dbcb93235f21fbe091c0bcb105e502005%2Feac4b74543a98226088e26648a82b9014a90eb22.jpg"
                                            class="code-img" alt="">
                                    </div>
                                    <div class="dol clearfix">
                                        <div class="pull-left">
                                            <label for="tongyi">
                                                <input id="tongyi" checked type="checkbox">
                                                <label></label>
                                                <span class="check">我已阅读并同意 <a href="#">《三更讲故事用户协议》</a> </span>
                                            </label>
                                        </div>

                                    </div>
                                    <div class="dol">
                                        <button type="submit">注册</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>
    <script src="./js/jquery.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/jquery.validate.min.js"></script>
    <script src="./js/jquery.validate.extend.js"></script>
    <script src="./js/messages_zh.min.js"></script>
    <script src="./js/app.js"></script>
</body>

</html>