body{
    margin: 0;
    padding: 0;
    font-family: 微软雅黑;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.head{
    text-align: center;
    height:0.44rem;
    font-size: 0.2rem;
    color: #333;
    line-height: 0.44rem;
    background: #fff;
    position: relative;
}
.head img{
  position: absolute;
  left: 0.1rem;
  top:0.07rem;
  width: 0.11rem;
  height: 0.19rem;
  padding: 0.05rem;
}

.manage {
  position: absolute;
  padding-right: 0.15rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0;
  color: #999;
  font-size: 0.14rem;
}
.auth{
 color: #333;
 font-size: 0.16rem;
 font-weight: 600;
 margin-bottom: 0.15rem;
}
.role,.progress{
 color: #333333;
 font-size: 0.14rem;
}
.role {
  margin-bottom: 0.14rem;
}
.progress {
  margin-bottom: 0.19rem;
}
.classify{
 color: #c5958d;
 font-size: 0.12rem;
}
.classify span{
 margin-right: 0.1rem;
}

.class {
  height: 0.18rem;
  line-height: 0.18rem;
  background-color: #fdf6f5;
  padding: 0 0.04rem;
}
.detail{
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 padding: 0.25rem 0.15rem 0;
}
.cover{
 width: 0.9rem;
 height: 1.19rem;
}
.cover img{
 width: 0.9rem;
 height: 1.19rem;
}
.info{
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 /*justify-content: space-between;*/
 padding-left: 0.14rem;
 -webkit-box-orient: vertical;
 -webkit-box-direction: normal;
 -ms-flex-direction: column;
 flex-direction: column;
}
.profile_t{
color: #333333;
font-size: 0.16rem;
padding: 0.15rem 0;
}
.profile_b{
 line-height: 0.25rem;
 font-size: 0.14rem;
 color: #666666;
}
.profile_b span{
 color: #318aff;
 margin-left: 0.14rem;
}
.profile{
 padding: 0 0.15rem;
}
.directories{
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-pack: justify;
 -ms-flex-pack: justify;
 justify-content: space-between;
 height: 0.45rem;
 padding: 0 0.15rem;
 font-size: 0.14rem;
 -webkit-box-align: center;
 -ms-flex-align: center;
 align-items: center;
 margin-top: 0.1rem;
}
.directories1{
 color: #333;
}
.directories2{
 color: #666666;
}
.reward{
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-pack: justify;
 -ms-flex-pack: justify;
 justify-content: space-between;
 height: 0.45rem;
 padding: 0 0.15rem;
 font-size: 0.14rem;
 -webkit-box-align: center;
 -ms-flex-align: center;
 align-items: center;

}
.reward1{
 color: #333;
 font-size: 0.14rem;
 font-weight: 600;
}
.reward2{
 text-align: right;
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-align: center;
 -ms-flex-align: center;
 align-items: center;
}
.reward2 img{
 display: block;
 margin-left: 0.05rem;
 width: 0.26rem;
 height:0.26rem;
 border-radius: 50%;
}
.reward2 div{
 margin-left: 0.05rem;
 color: #666;
 padding: 0 0.02rem 0 0.1rem;
}
.list_t{
 color: #333;
 font-size: 0.14rem;
 font-weight: 600;
 line-height: 0.45rem;
}
.list{
 padding:0 0.15rem;
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
 position: relative;
}

.list:before {
  position: absolute;
  content: '';
  left: 0;
  right: 0;
  top: 0;
  height: 1px;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  background-color: #fdf6f5;
}

.list .list_c a{
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-orient: vertical;
 -webkit-box-direction: normal;
 -ms-flex-direction: column;
 flex-direction: column;
 width: 1rem;
 margin-bottom: 0.06rem;
}

.list .list_c a:nth-last-child(1), .list .list_c a:nth-last-child(2), .list .list_c a:nth-last-child(3){
  margin-bottom: 0;
}
.list .list_c {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -ms-flex-wrap: wrap;
 flex-wrap: wrap;
}
.list .list_c a img{
 width: 1rem;
 display: block;
 height: 1.35rem;
}
.list .list_c a:nth-child(3n-1){
 padding: 0 0.22rem;
}
.list .list_c a div{
 line-height: 0.43rem;
 font-size: 0.16rem;
 width: 100%;
 overflow: hidden;
 text-overflow: ellipsis;
 white-space: nowrap;
 color: #333333;
}
.endLine{
 background: #fdf6f5;
 line-height: 0.45rem;
 color: #c5958d;
 font-size: 0.18rem;
 text-align: center;
}
.foot{
 position: relative;
 padding-top: 0.8rem;
}
.footcontent{
 position: fixed;
 bottom: 0;
 left:0;
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-align: center;
 -ms-flex-align: center;
 align-items: center;
 background: #fff;
 height: 0.8rem;
 width:100%;
 padding: 0 0.15rem 0 0.3rem;
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
}

.footer-info {
  white-space: nowrap;
}
.footUl{
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-align: center;
 -ms-flex-align: center;
 align-items: center;
 font-size: 0.14rem;
 color: #9c9a9c;
 text-align: center;
 -webkit-box-flex: 1;
 -ms-flex: 1;
 flex: 1;
 height: 100%;
 -webkit-box-pack: justify;
 -ms-flex-pack: justify;
 justify-content: space-between;
}

.footUl li {
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.18rem 0 .16rem;
  width: 0.28rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footUl img{
 width: 0.24rem;
 height: auto;
}
.startRead{
 width: 1.2rem;
 text-align: center;
 height: 0.45rem;
 line-height: 0.45rem;
 background: #ff4c2e;
 color:#fff;
 font-size: 0.18rem;
 border-radius: 0.03rem;
 border:1px solid #dc3418;
 margin-left: 0.32rem;
}
.active{
 color: #dc3418;
}


/*打赏*/
.screen {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.reward-dialog {
  min-height: 4.1rem;
  width: 100%;
  padding-top: 0.13rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-top-left-radius: 0.15rem;
  border-top-right-radius: 0.15rem;
  -webkit-box-shadow: 2px 0 13px #333;
  box-shadow: 2px 0 13px #333;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 10;
  background: #FFFFFF;
}

.reward-title {
  font-size: 0.18rem;
  color: #ff4c2e;
  font-weight: bold;
  padding-left: 0.14rem;
  padding-bottom: 0.15rem;
}

.reward-title:after{
  position: absolute;
  content: '';
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  background-color: #f3f7fa;
}

.prizeList {
  padding: 0.03rem 0.16rem 0 0.17rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
}

.prizeList:before {
  position: absolute;
  content: '';
  left: 0;
  right: 0;
  top: 0;
  height: 1px;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  background-color: #f3f7fa;
}


.prize-icon {
  width: 0.46rem;
  height: 0.46rem;
  margin-bottom: 0.12rem;
  position: relative;
}

.prize-icon img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

.prize-name {
  margin-bottom: 0.05rem;
  text-align: center;
  width: 100%;
  white-space: no-wrap;
}

.prize-gold {
  color: #ff4c2e;
  margin-bottom: 0.22rem;
  white-space: nowrap;
}

.prize-num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 0.25rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 0.14rem;
  margin-bottom: 0.12rem;

}

.prize {
  width: 0.46rem;
  padding: 0.1rem 0.34rem 0;
}

.prize.active {
  background-color: #f7f7f7;
}
.reduce {
  width: 0.2rem;
  height: 0.2rem;
  background: url(../img/reduce.png);
  background-size: 100% 100%;
  margin-right: 0.1rem;
}

.add {
  width: 0.2rem;
  height: 0.2rem;
  background: url(../img/add.png);
  background-size: 100% 100%;
  margin-left: 0.1rem;
}

.num {
  width: 0.38rem;
  padding: 0.05rem 0 0.04rem 0;
  font-size: 0.14rem;
  text-align: center;
}

.num-info {
  margin-right: 0.07rem;
  height: 0.25rem;
  line-height: 0.25rem;
}

.num-box {
  position: relative;
}

.num-box:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 200%;
  height: 200%;
  border: 1px solid #eee;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  -webkit-transform-origin: left top;
  transform-origin: left top;
}

.confirm {
  width: 1.2rem;
  height: 0.45rem;
  font-size: 0.18rem;
  line-height: 0.45rem;
  text-align: center;
  position: relative;
  background-color: #ff4c2e;
  border-radius: 0.03rem;
  color: #FFFFFF;
}

.confirm:after {
  content: '';
  width: 200%;
  height: 200%;
  position: absolute;
  left: 0;
  top: 0;
  border: 1px solid #dc3418;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  -webkit-transform-origin: left top;
  transform-origin: left top;
  border-radius: 0.06rem;
}

.money-box {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 0 0.15rem 0 0.14rem;
  height: 0.69rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.money-box:before {
  content: '';
  width: 200%;
  height: 200%;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  height: 1px;
  background-color: #f3f7fa;
  -webkit-transform-origin: left top;
  transform-origin: left top;

}

.money-left {
  height: 100%;
}
.recharge {
  color: #ff4c2e;
  margin-left: 0.05rem;
}

.total-box {
  margin-top: 0.13rem;
  font-size: 0.18rem;
}

.balance {
  margin-top: 0.1rem;
}

.total-num {
  padding: 0 0.08rem 0 0.06rem;
  font-weight: bold;
  color: #ff4c2e;
}

.balance-num {
  margin-left: 0.05rem;
}