html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
  color:#000000;
  text-decoration: none;
}
input {
  border: none;
  outline: none;
}

body {
  font-family: Helvetica Arial,sans-serif;
  line-height: 1;
  color: #333;
  background-color: #FFFFFF;
  font-size: 0.14rem;
}

.flex-b {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-m {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.border-top-1px, .border-bottom-1px {
  position: relative;
}

.border-top-1px::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  -webkit-transform-origin: top left;
  transform-origin: top left;
}

.border-bottom-1px::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);

  -webkit-transform-origin: bottom left;

  transform-origin: bottom left;
}

.blue {
  color: #a0deed;
}

.border-1px{
  position: relative;
}

.border-1px:before{
  content: '';
  border: 1px solid #636363;
  -webkit-transform: scale(0.5, 0.5);
  transform: scale(0.5, 0.5);
  width: 200%;
  height: 200%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform-origin: left top;
  transform-origin: left top;
}


.del {
  position: relative;
}

.del:before {
  content: '';
  height: 1px;
  width: 100%;
  position: absolute;
  top: 50%;
  left:0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: inherit;
}


.common-shadow {
  -webkit-box-shadow: 0px 3px 4px #eee;
  box-shadow: 0px 3px 4px #eee;
}

/*头部*/
.head{
    text-align: center;
    height:0.44rem;
    font-size: 0.2rem;
    color: #333;
    line-height: 0.44rem;
    background: #fff;
    position: relative;
}

.head img{
  position: absolute;
  left: 0.1rem;
  top:0.07rem;
  width: 0.11rem;
  height: 0.19rem;
  padding: 0.05rem;
}

.manage {
  position: absolute;
  padding-right: 0.15rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0;
  color: #999;
  font-size: 0.14rem;
}
/*二维码*/